.link-nav-accueil.active{
	width: 15vh !important;
	height:15vh !important;
}
.link-nav-apropos.active{
	width: 15vh !important;
	height:15vh !important;
}
.link-nav-services.active{
	width: 15vh !important;
	height:15vh !important;
}
.link-nav-competences.active{
	width: 15vh !important;
	height:15vh !important;
} 
.link-nav-contact.active{
	width: 15vh !important;
	height:15vh !important;
}

.services-img-1.active{
	width: 10vh !important;
	height:10vh !important;
}
.services-img-2.active{
	width: 10vh !important;
	height:10vh !important;
}
.services-img-3.active{
	width: 10vh !important;
	height:10vh !important;
}
.services-img-4.active{
	width: 10vh !important;
	height:10vh !important;
}
.services-img-5.active{
	width: 10vh !important;
	height:10vh !important;
}
.services-img-6.active{
	width: 10vh !important;
	height:10vh !important;
}

.body-image{
	.menu-second--pills---img.fade-in{
		filter:invert(1);
	}
}