@font-face {
    font-family:web;
    src: url(../fonts/web/web.ttf);
}
@font-face {
    font-family:web-titre;
    src: url(../fonts/web/web-titre.ttf);
}
@font-face {
    font-family:web-texte;
    src: url(../fonts/web/web-texte.ttf);
}
@font-face {
    font-family:audio-heading;
    src: url(../fonts/audio/audio-heading.ttf);
}


@font-face {
    font-family:image-titre;
    src: url(../fonts/image/montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family:image-titre-apropos;
    src: url(../fonts/image/montserrat/Montserrat-Thin.ttf);
}




@font-face {
    font-family:audio-texte;
    src: url(../fonts/audio/audio-texte.ttf);
}
@font-face {
    font-family:audio-texte2;
    src: url(../fonts/audio/audio-heading2.ttf);
}




@font-face {
    font-family:menu;
    src: url(../fonts/menu/menu.ttf);
}


@font-face {
    font-family:Services;
    src: url(../fonts/Services.ttf);
}



