
.html-accueil{

	/* Set Scrollbar Width */
	::-webkit-scrollbar {
		width: 12px;
	}
	/* Set Scrollbar Buttons */
	::-webkit-scrollbar-button {

	}
	/* Set Scrollbar Track */
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	::-webkit-scrollbar-track-piece {

	}
	/* Set Scrollbar Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(#000000, 0.8);
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
	::-webkit-scrollbar-corner {

	}
	::-webkit-resizer {

	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(#e89b4d, 0.4);
	}
}
.html-web{

	/* Set Scrollbar Width */
	::-webkit-scrollbar {
	  width: 12px;
	}
	/* Set Scrollbar Buttons */
	::-webkit-scrollbar-button {

	}
	/* Set Scrollbar Track */
	::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
	  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	}
	::-webkit-scrollbar-track-piece {

	}
	/* Set Scrollbar Handle */
	::-webkit-scrollbar-thumb {
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  background: rgba(#35bddb, 0.8);
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
	::-webkit-scrollbar-corner {

	}
	::-webkit-resizer {

	}
	::-webkit-scrollbar-thumb:window-inactive {
	  background: rgba(#35bddb, 0.4);
	}
}

.html-audio{

		/* Set Scrollbar Width */
		::-webkit-scrollbar {
		  width: 12px;
		}
		/* Set Scrollbar Buttons */
		::-webkit-scrollbar-button {

		}
		/* Set Scrollbar Track */
		::-webkit-scrollbar-track {
		  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		}
		::-webkit-scrollbar-track-piece {

		}
		/* Set Scrollbar Handle */
		::-webkit-scrollbar-thumb {
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		  background: rgba(#a761d7, 0.8);
		  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}
		::-webkit-scrollbar-corner {

		}
		::-webkit-resizer {

		}
		::-webkit-scrollbar-thumb:window-inactive {
	 	 background: rgba(#a761d7, 0.4);
		}
}


.html-image{

		/* Set Scrollbar Width */
		::-webkit-scrollbar {
		  width: 12px;
		}
		/* Set Scrollbar Buttons */
		::-webkit-scrollbar-button {

		}
		/* Set Scrollbar Track */
		::-webkit-scrollbar-track {
		  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		}
		::-webkit-scrollbar-track-piece {

		}
		/* Set Scrollbar Handle */
		::-webkit-scrollbar-thumb {
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		  background: rgba(#91cf63, 0.8);
		  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}
		::-webkit-scrollbar-corner {

		}
		::-webkit-resizer {

		}
		::-webkit-scrollbar-thumb:window-inactive {
	 	 background: rgba(#91cf63, 0.4);
		}
}

.html-video{

		/* Set Scrollbar Width */
		::-webkit-scrollbar {
		  width: 12px;
		}
		/* Set Scrollbar Buttons */
		::-webkit-scrollbar-button {

		}
		/* Set Scrollbar Track */
		::-webkit-scrollbar-track {
		  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		}
		::-webkit-scrollbar-track-piece {

		}
		/* Set Scrollbar Handle */
		::-webkit-scrollbar-thumb {
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		  background: rgba(#e89b4d, 0.8);
		  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}
		::-webkit-scrollbar-corner {

		}
		::-webkit-resizer {

		}
		::-webkit-scrollbar-thumb:window-inactive {
	 	 background: rgba(#e89b4d, 0.4);
		}


}
		
.html-admin{

	/* Set Scrollbar Width */
	::-webkit-scrollbar {
	  width: 12px;
	}
	/* Set Scrollbar Buttons */
	::-webkit-scrollbar-button {

	}
	/* Set Scrollbar Track */
	::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
	  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	}
	::-webkit-scrollbar-track-piece {

	}
	/* Set Scrollbar Handle */
	::-webkit-scrollbar-thumb {
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  background: rgba(#e89b4d, 0.8);
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
	::-webkit-scrollbar-corner {

	}
	::-webkit-resizer {

	}
	::-webkit-scrollbar-thumb:window-inactive {
	  background: rgba(#e89b4d, 0.4);
	}
}