.body-video{
.fa-arrow-down {
  color: black !important;
}

.arrow {
  a {
    text-decoration: none;
  }
}
/*______________________________________________________________video BACKGROUND*/
.video-accueil {
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: rgb(255, 255, 255);

  .arrow {
    margin-top: 2vh !important;
  }
}

.video-apropos {
  background-image: url("./assets/img/video/apropos.jpg");
  background-size: cover;
  background-position: left;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.video-services {
  background-image: url("./assets/img/video/services.jpg");
  background-size: cover;
  background-position: left;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.video-competences {
  background: #fff url("./assets/img/video/fond2.jpg");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.video-contact {
  background: #fff url("./assets/img/video/contact.jpg");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}
@media screen and (min-width: 0px) and (max-width: 996px) {
  .video-contact {
    height: 100%;
  }
}
/*__________________________________________________________FIN video BACKGROUND*/

.video-main {
  overflow: hidden !important;
}
/*____________________________________________________________________ accueil*/
.video-accueil--image{
  background-image: url("./assets/img/video/image-slider-video.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  padding: 70px;
  background-color: white;
}
.video-accueil--text{
  h1{
    font-family: image-titre-apropos;
    font-weight: bold;
    margin-top: 0px !important;
  }
  h2{
    font-family: image-titre-apropos;
    font-weight: bold;
    color: #91cf63 !important;
  }
  p{
    font-family: image-titre-apropos;
    font-weight: bold;
  }
}
/*________________________________________________________________ Carousel*/

.video-main--accueil---slider {
  height: 100vh;
  -webkit-box-shadow: 0 0 28px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 28px 6px rgba(0,0,0,0.75);
  box-shadow: 0 0 28px 6px rgba(0,0,0,0.75);
}

.video-main--accueil---slider----video1 {
  background-image: url("./assets/img/video/infographie.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-main--accueil---slider----titre1 {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50vh;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.video-main--accueil---slider----video2 {
  background-image: url("./assets/img/video/logo.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-main--accueil---slider----video3 {
  background-image: url("./assets/img/video/charte.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-main--accueil---slider----video4 {
  background-image: url("./assets/img/video/packaging.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*____________________________________________________________ FIN Carousel*/

.video-main--accueil---subcarousel {
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: video-titre;
}

.video-main--accueil---titre {
  text-align: center;
  background: rgb(69,72,77);
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(69,72,77,0.7) 0%,rgba(0,0,0,0.7) 100%);
  text-shadow: 4px 4px 8px rgba(28, 28, 28, 1);
  font-weight: bold;
  font-family: video-texte;
  height: 20vh;
  border-radius: 10px;
  padding: 4% !important;
  color: #9664ab;
}

.video-main--accueil---titre h2 {
  font-family: video-titre;
  text-align: center;
}

.video-main--accueil---titre h1 {
  text-align: center;
}
/*_________________________________________________________________FIN accueil*/
/*_____________________________________________________________________Apropos*/

.video-apropos {
  .video-apropos--box---header {
    color: rgb(50, 49, 49);
  }

  .video-apropos--box---header h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: image-titre-apropos;
    text-align: center;
    font-size: 55px;
  }

  .video-apropos--box---header----box {
    border-top: 3px solid $home-video;
    border-bottom: 3px solid $home-video;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .video-apropos--box---header----box p {
    font-family: menu;
    text-align: justify;
  }

  .video-apropos--box---content {
    height: 50vh;
    padding-top: 10vh;

    .video-apropos--box---content---box {
      color: white;
      text-align: center;

      .video-apropos--box---content---box----titre {}

      .video-apropos--box---content---box----description {}
    }
  }
}
/*_________________________________________________________________FIN Apropos*/
/*___________________________________________________________________ Services*/
.video-services--item---text{
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  .video-services--item---text----button {
    background-color: unset !important;
    border: 2px solid white !important;
    color: white;
    font-family: menu;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }
}

.video-services {

  .icon {
    margin-top: 4vh;
    font-size: 50px;
    color: rgb(53, 164, 219);
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  .video-main--page---right----services-----box{
    font-family: menu;

    h4 {
      font-size: 30px;
      padding-left: 15px !important;
      padding-right: 15px !important;
      color: #323131;
      text-align: center;
    }
    p{
      color: $home-video;
      text-align: right;
    }
    div{
      border-top: 3px solid $home-video;
      border-bottom: 3px solid $home-video;
    }
  }
  .video-services--item---text{
		border: 30px solid white;
		padding: 40px !important;
    h2 {
      text-align: center;
      font-family: web-titre;
      color: black;
    }

    p {
      font-family: menu;
      font-size: 22px;
      color: black;
    }
  }
  .video-services--item---text----button{
    background-color: unset !important;
    border: 2px solid white !important;
    color: white;
    font-family: menu;
    -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
    &:hover{
      background-color: $home-video !important;
    }
  }
}
 #services{
  h1{
    text-transform: uppercase;
    font-family: image-titre-apropos;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
  }
}
/*________________________________________________________________FIN Services*/
/*________________________________________________________________ Compétences*/
/*_____________________________________________________________FIN Compétences*/
/*____________________________________________________________________ Contact*/




/*_________________________________________________________________FIN Contact*/
@media screen and (max-height: 700px) {
  .video-apropos--box {
    padding-top: 5vh;
  }

  .video-contact {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .arrow {
      a {
        text-decoration: none;
      }
    }
  }
}
@media screen and (max-height: 550px) {
  .video-apropos--box {
    padding-top: 0;
  }

  .video-main--accueil---titre {
    margin-top: 50vh !important;
  }
}
@media screen and (max-height: 520px) {
  .video-apropos--box {
    padding-top: 10vh;
  }

  .video-main--accueil---titre {
    margin-top: 40vh !important;
  }
}
@media screen and (max-height: 2000px) {
  .com__nav-item i {
    font-size: 40px;
  }
}
@media screen and (max-height: 530px) {
  .com__nav-item i {
    font-size: 20px !important;
  }
}
@media screen and (max-height: 700px) {
  .com__nav-item i {
    font-size: 30px;
  }
}
@media screen and (max-height: 520px) {
  .com {
    padding-top: 12vh !important;
  }
}
@media screen and (max-height: 400px) {
  .com {
    padding-top: 15vh !important;
  }
}
@media (orientation: landscape) and (max-width : 700px) {
  .video-main--accueil---titre h2 {
    font-size: 35px !important;
  }

  .video-apropos--box---header----box p {
    font-size: 12px !important;
  }

  .video-contact {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .video-competences {
    height: 500px !important;
  }
}
}
