.body-audio {
	background-color: rgb(255, 255, 255);
	/*______________________________________________________________audio BACKGROUND*/

	.audio-accueil {
		background-image: url("../img/audio/audio-accueil-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.jpg");
		background-color: white;
		background-size: contain;
		background-position: center;
		left: 0;
		top: 0;
		position: relative;
		overflow: hidden;
		min-height: 100vh;
		width: 100vw;
	}

	.audio-apropos {
		background: #fff url("../img/audio/audio-apropos-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.jpg");
		background-size: cover;
		background-position: left;
		left: 0;
		top: 0;
		position: relative;
		overflow: hidden;
		min-height: 100vh;
		width: 100vw;
	}

	@media screen and (min-width: 0px) and (max-width: 1450px) {
		.audio-apropos {
			height: 100% !important;
		}
	}

	.audio-services {
		background: #fff url("../img/audio/audio-services-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.png");
		background-size: cover;
		background-position: top;
		left: 0;
		top: 0;
		position: relative;
		overflow: hidden;
		min-height: 100vh;
		width: 100vw;
	}

	.audio-competences {
		background: #fff url("../img/audio/audio-competences-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.jpg");
		background-size: cover;
		background-position: center;
		left: 0;
		top: 0;
		position: relative;
		overflow: hidden;
		min-height: 100vh;
		width: 100vw;
	}

	.audio-contact {
		background: #f7f9f8;
		background-size: cover;
		background-position: center;
		left: 0;
		top: 0;
		position: relative;
		overflow: hidden;
		min-height: 100vh;
		width: 100vw;
	}

	@media screen and (min-width: 0px) and (max-width: 996px) {
		.audio-contact {
			height: 100% !important;
		}
	}

	@media screen and (min-width: 0px) and (max-width: 868px) {
		.audio-apropos {
			background: #fff url("../img/audio/audio-apropos-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.jpg");
			background-size: cover;
			background-position: left;
			left: 0;
			top: 0;
			position: relative;
			overflow: hidden;
			height: 100%;
			width: 100vw;
		}
	}

	/*__________________________________________________________FIN audio BACKGROUND*/

	.audio-main {
		overflow: hidden !important;
	}

	/*____________________________________________________________________ accueil*/
	.audio-main--accueil---titre {
		text-align: center;
		margin-top: 24vh;
		text-shadow: 4px 4px 8px rgba(28, 28, 28, 0.2);
		font-weight: bold;
		font-family: audio-titre;
		height: 20vh;
		border-radius: 10px;
		padding: 5vh !important;
		color: rgb(71, 39, 77);
		padding-left: 10vw !important;
	}

	.audio-main--accueil---titre h2 {
		font-family: image-titre;
		text-align: right;
		text-transform: uppercase;
		transform: rotate(-9deg);
	}

	.audio-main--accueil---titre h1 {
		text-align: right;
		font-family: image-titre;
	}

	.audio-main--accueil---titre a {
		text-shadow: none;
	}

	/*_________________________________________________________________FIN accueil*/
	/*_____________________________________________________________________Apropos*/

	.audio-apropos {
		.audio-apropos--box---header {
			margin-top: 10vh;
			color: #444444;
		}

		.audio-apropos--box---header h2 {
			padding-top: 1vh;
			font-weight: bold;
			font-family: image-titre-apropos;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		.audio-apropos--box---header----box-----bloc {
			border-top: 3px solid $home-audio;
			border-bottom: 3px solid $home-audio;
			margin-top: 25px !important;
			margin-bottom: 25px !important;
		}

		.audio-apropos--box---header----box p {
			font-size: 19px;
			font-family: menu;
			padding-bottom: 1vh;
			text-align: justify;
		}

		.audio-apropos--box---header----box img {
			height: 100vh;
		}

		.audio-apropos--box---content {
			height: 50vh;
			padding-top: 10vh;

			.audio-apropos--box---content---box {
				color: white;
				text-align: center;

				.audio-apropos--box---content---box----titre {}

				.audio-apropos--box---content---box----description {}
			}
		}
	}

	/*_________________________________________________________________FIN Apropos*/
	/*___________________________________________________________________ Services*/

	.audio-services--item---text----button {
		background-color: unset !important;
		border: 2px solid white !important;
		color: white;
		font-family: menu;
		-webkit-transition: background-color 1s ease;
		-moz-transition: background-color 1s ease;
		-o-transition: background-color 1s ease;
		transition: background-color 1s ease;

		&:hover {
			background-color: $home-audio !important;
		}
	}

	#services {

		h2 {
			padding-top: 1vh;
			font-weight: bold;
			font-family: image-titre-apropos;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 25px;
			color: #444;
		}

		.audio-main--page---right----services-----box {
			z-index: 3 !important;


		}

		.services-image-plan2 {
			background-image: url("../img/audio/rond-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.svg");
			background-size: contain;
			background-position: center;
			height: 70vh;
			margin-top: -58vh;
			-webkit-animation: rotate 120s linear infinite;
			-moz-animation: rotate 120s linear infinite;
			-ms-animation: rotate 120s linear infinite;
			-o-animation: rotate 120s linear infinite;
			animation: rotate 120s linear infinite;
			position: absolute;
			z-index: 1;
		}

		.services-image-plan3 {
			height: 20vh;
			position: absolute;
			transform: rotate(-90deg);
			margin-left: 36vw !important;
		}

		@keyframes rotate {
			to {
				transform: rotate(360deg);
			}
		}

		@-webkit-keyframes rotate {
			to {
				-webkit-transform: rotate(360deg);
			}
		}

		@-moz-keyframes rotate {
			to {
				transform: rotate(360deg);
			}
		}

		.path {
			stroke-dasharray: 170;
			stroke-dashoffset: 20;
		}

		.services-image-plan {
			background-image: url("../img/audio/piano-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.png");
			background-size: contain;
			background-position: center;
			height: 45vh;
			transform: rotate3d(0, 1, 0, 50deg);
			transition: all 3s ease;
			opacity: 0;
			transition: all 1s ease;
		}

		.services-image-plan.fade-in {
			background-image: url("../img/audio/piano-projet360-Toulouse-31000-Agence-de-communication-360-WebDesign-graphiste-identite-graphique.png");
			background-size: contain;
			background-position: center;
			height: 45vh;
			transform: rotate3d(0, 1, 0, 30deg);
			filter: blur(0px);
			opacity: 1;
			z-index: 3;
		}

		.audio-services {
			h2 {
				padding-top: 1vh;
				font-weight: bold;
				text-transform: uppercase;
				font-family: image-titre-apropos;
			}

			.audio-services--item---text {
				margin-bottom: 25px !important;
				margin-top: 25px !important;
				color: white !important;
			}

			.web-services--item---text {
				color: white !important;

				h2 {
					color: white !important;
				}
			}

			.audio-main--page---right----services-----box {
				height: min-content;
				text-align: right;
				font-family: menu;

				h4 {
					font-size: 40px;
					color: #444444;
					text-align: center;
				}

				i {
					color: $home-audio !important;
				}
			}

			.audio-services--item---text {
				border: 30px solid white;
				padding: 40px !important;
				color: white !important;
			}

			h2 {
				color: white !important;
			}
		}

		.audio-services--item---text----button {
			background-color: unset !important;
			border: 2px solid white !important;
			color: white !important;
			font-family: menu;
			-webkit-transition: background-color 1s ease;
			-moz-transition: background-color 1s ease;
			-o-transition: background-color 1s ease;
			transition: background-color 1s ease;

			&:hover {
				background-color: $home-audio !important;
			}
		}

		.icon {
			margin-top: 4vh;
			font-size: 50px;
			color: rgb(53, 164, 219);
			margin-top: auto !important;
			margin-bottom: auto !important;
		}
	}

	a.audio-main--page---right----texte-----audio {
		color: #a661d7 !important;
	}

	.service-audio--youtube-nuitblanche {
		height: 50vh;

		.ytp-cued-thumbnail-overlay-image {
			background-image: url("https://i.vimeocdn.com/video/435803636_1280x720.jpg") !important;
		}
	}

	/*________________________________________________________________FIN Services*/
	/*________________________________________________________________ Compétences*/
	#competences {

		.carousel-control-next,
		.carousel-control-prev {
			width: 30px !important;
		}

		.carousel-control-prev {
			margin-left: 10vw;
			z-index: 99999;
		}

		.carousel-control-next {
			margin-right: 10vw;
			z-index: 99999;
		}
	}

	.audio-competences--titre {
		margin-top: 10vh;
		height: 10vh;
		text-align: center;
		font-family: image-titre;
		font-size: 60px;
		font-weight: normal;
		color: #444444;
		text-transform: uppercase;
	}

	.audio-competences--box---content----text-----titre {
		font-family: web-titre !important;
	}

	.audio-competences--box---content----text-----description {
		font-family: menu !important;
		text-align: justify !important;
	}

	.audio-competences--box---content {
		height: 60vh;
	}

	.carousel-inner {
		position: relative;
		border: 5px solid black;
		width: 80% !important;
		overflow: hidden;
	}

	.carousel-indicators li {
		background-color: rgba(113, 113, 113, 0.5) !important;
	}

	.carousel-indicators .active {
		background-color: #000 !important;
	}

	.audio-competences--box---content----titre {
		height: 10vh;
		text-align: center;
		font-size: 35px;
		font-family: web-titre;
	}

	.audio-competences--box---content---box----soundcloud {
		height: 60vh;
	}

	.audio-competences--box---content---box----youtube {
		height: 60vh;
	}

	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	}

	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	}

	.ytp-cued-thumbnail-overlay-image {
		-webkit-background-size: 100% auto !important;
		background: 100% auto !important;
	}

	.audio-competences--titre {
		h2 {
			font-size: 60px;
			font-weight: bold;
			color: #444444;
		}
	}

	.audio-competences {
		.carousel-indicators {
			position: absolute;
			right: 0;
			bottom: 70px;
			left: 0;
			z-index: 15;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: end;
			-webkit-justify-content: end;
			-ms-flex-pack: center;
			justify-content: end;
			padding-left: 0;
			margin-right: 15%;
			margin-left: 15%;
			list-style: none;
		}
	}

	/*_____________________________________________________________FIN Compétences*/
	/*____________________________________________________________________ Contact*/
	.audio-contact--titre {
		height: 10vh;
		margin-top: 10vh;
		text-align: center;
		font-family: image-titre-apropos;
		font-size: 60px;
		color: #444444;
		text-transform: uppercase;
	}

	.audio-formulaire {}

	.audio-contact .btn-primary {
		margin-bottom: 2vh;
		display: block !important;
	}

	.audio-contact--titre {
		text-align: center;
		font-family: image-titre;

		h2 {
			font-size: 60px;
			font-weight: bold;
			color: #444444;
		}
	}

	.audio-contact--nav---box {
		background-color: rgba(255, 255, 255, 0.81);
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		padding: 15px;
	}



	.audio-contact--nav---box----img img {
		padding: 15px;
		max-width: 60px;
		max-height: 60px;
	}

	@media screen and (min-width: 0px) and (max-width: 994px) {
		.audio-contact--box {
			height: unset !important;
		}
	}

	.audio-contact--nav {
		height: 20vh;
	}

	.audio-contact--nav---box----img {}

	@media screen and (min-width: 0px) and (max-width: 576px) {
		.audio-contact--nav {
			height: 100%;
		}
	}

	@media screen and (min-width: 0px) and (max-width: 766px) {
		.audio-contact--box {
			height: 100%;
		}
	}

	/*_________________________________________________________________FIN Contact*/
	@media screen and (max-width: 430px) {
		.audio-apropos .fa-arrow-down {
			color: black !important;
		}
	}

	@media screen and (max-height: 700px) {
		.audio-apropos--box {
			padding-top: 5vh;
		}

		.audio-contact {
			position: relative;
			overflow: hidden;
			height: 100%;
			width: 100%;
		}

		.audio-apropos {
			position: relative;
			overflow: hidden;
		}
	}

	@media screen and (max-height: 550px) {
		.audio-apropos--box {
			padding-top: 0;
		}
	}

	@media screen and (max-height: 520px) {
		.audio-apropos--box {
			padding-top: 10vh;
		}
	}

	@media screen and (max-height: 2000px) {
		.com__nav-item i {
			font-size: 40px;
		}
	}

	@media screen and (max-height: 530px) {
		.com__nav-item i {
			font-size: 20px !important;
		}
	}

	@media screen and (max-height: 700px) {
		.com__nav-item i {
			font-size: 30px;
		}
	}

	@media screen and (max-height: 520px) {
		.com {
			padding-top: 12vh !important;
		}
	}

	@media screen and (max-height: 400px) {
		.com {
			padding-top: 15vh !important;
		}
	}

	@media (orientation: landscape) and (max-width : 700px) {
		.audio-main--accueil---titre h2 {
			font-size: 35px !important;
		}

		.audio-apropos--box---header----box p {
			font-size: 12px !important;
		}

		.audio-contact {
			position: relative;
			overflow: hidden;
			height: 100%;
			width: 100%;
		}

		.audio-competences {
			height: 500px !important;
		}
	}
}